
body {
    background-color: lightgray;
}

h1 {
    /* border: 1px solid black; */
    color: purple;
    border-bottom: 1px solid black;
    width: 75%;
    font-family: 'Pacifico', cursive;
    font-size: 2.5em;
    margin-top: 1%;
    margin-bottom: 2%;
    margin-left: 12.5%;
    text-align: center;
}

h5 {
    /* border: 1px solid red; */
    font-size: 1.25em;
    text-align: center;
    width: 75%;
    margin-left: 12.5%;
}
#buttons-for-topics {
    margin-top: 1%;
    text-align: center;
}

.topic-buttons {
    padding: .5%;   
    margin-left: 1%;
    margin-bottom: 2%; 
    background-color: purple;
    color: white;
}

form {
    margin-left: 30%;
}

#user-addition {
    color: white;
    background-color: purple;
    width: 30%;
    margin-left: 10%;
    margin-top: 2%;
    padding: .5%;
}

#show-gifs {
    margin-top: 3%;
    margin-left: 3%;
}

.gif-div {
    background-color: purple;
    float: left;
    margin-left: 1%;
    margin-top: 2%;
    margin-bottom: 1%;
}

p {
    color: white;
    text-transform: uppercase;
}
