
#buttons-for-topics {
    margin-top: 3%;
}

.topic-buttons {
    padding: .5%;   
    margin-left: 1%;
    margin-bottom: 2%; 
    background-color: purple;
    color: white;
}

form {
    margin-left: 30%;
}

#user-addition {
    color: white;
    background-color: purple;
    width: 30%;
    margin-left: 10%;
    margin-top: 2%;
    padding: .5%;
}

#show-gifs {
    margin-top: 3%;
    margin-left: 35%;
}
